
@{
    Layout = null;
}
@model List<string> 
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body> 
    @foreach (var item in Model)
    {
        <div>
            <a href="~/Download/@item">@item</a>
        </div>
    }
</body>
</html>
